@using RazorLight
@using MailTemplate.Worker.Templates
@inherits TemplatePage<HelloWorldModel>

@{
    Layout = "_Layout.cshtml";
}

<p>
    Hello @Raw(Model.Name)!
</p>
<p>
    <ul>
        <li>Sed id tincidunt neque, vel porta dolor. Nullam elementum arcu eget ligula vestibulum, nec mollis metus vestibulum. Integer semper non ligula vel feugiat. Donec eget sapien turpis. Vestibulum dignissim eu odio quis sodales.</li>
        <li>Vivamus accumsan dignissim ex dapibus pretium. Cras posuere ligula quam, eget fermentum nisi interdum a. Duis lobortis, arcu non lobortis tempor, eros nunc lacinia elit, et porta nunc enim vitae dui. Aliquam quis consequat arcu. </li>
    </ul>
</p>